* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, serif;
  background-color: #998fc7;
  color: black;
}

#home-btn {
  padding: 1em;
  margin: 2em;
  border-radius: 12px;
  width: 10em;
  background-color: #d4c2fc;
}

#home-btn:hover {
  background-color: #998fc7;
  cursor: pointer;
}
